:root {
  font-family: 'Inter', sans-serif;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgba(187, 187, 187, 1);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(187, 187, 187, 1);
}
